package header

import "github.com/go-microfrontend/host-page/internal/templates"

templ logo() {
	<div class="flex items-center">
		<div class="flex-shrink-0 bg-violet-600 text-white px-3 py-2 rounded-lg">
			<span class="font-bold text-xl">{ templates.Marketplace }</span>
		</div>
	</div>
}
